<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>AttributeError: &#x27;ImmutableMultiDict&#x27; object has no attribute &#x27;image&#x27; // Werkzeug Debugger</title>
    <link rel="stylesheet" href="?__debugger__=yes&amp;cmd=resource&amp;f=style.css"
        type="text/css">
    <!-- We need to make sure this has a favicon so that the debugger does
         not accidentally trigger a request to /favicon.ico which might
         change the application's state. -->
    <link rel="shortcut icon"
        href="?__debugger__=yes&amp;cmd=resource&amp;f=console.png">
    <script src="?__debugger__=yes&amp;cmd=resource&amp;f=debugger.js"></script>
    <script type="text/javascript">
      var TRACEBACK = 2431704377232,
          CONSOLE_MODE = false,
          EVALEX = true,
          EVALEX_TRUSTED = false,
          SECRET = "UdxxmJL0PxTNQBjpg0tw";
    </script>
  </head>
  <body style="background-color: #fff">
    <div class="debugger">
<h1>AttributeError</h1>
<div class="detail">
  <p class="errormsg">AttributeError: &#x27;ImmutableMultiDict&#x27; object has no attribute &#x27;image&#x27;</p>
</div>
<h2 class="traceback">Traceback <em>(most recent call last)</em></h2>
<div class="traceback">
  <h3></h3>
  <ul><li><div class="frame" id="frame-2431704379056">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">2088</em>,
      in <code class="function">__call__</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">    </span>def __call__(self, environ: dict, start_response: t.Callable) -&gt; t.Any:</pre>
<pre class="line before"><span class="ws">        </span>&quot;&quot;&quot;The WSGI server calls the Flask application object as the</pre>
<pre class="line before"><span class="ws">        </span>WSGI application. This calls :meth:`wsgi_app`, which can be</pre>
<pre class="line before"><span class="ws">        </span>wrapped to apply middleware.</pre>
<pre class="line before"><span class="ws">        </span>&quot;&quot;&quot;</pre>
<pre class="line current"><span class="ws">        </span>return self.wsgi_app(environ, start_response)</pre></div>
</div>

<li><div class="frame" id="frame-2431704377808">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">2073</em>,
      in <code class="function">wsgi_app</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>try:</pre>
<pre class="line before"><span class="ws">                </span>ctx.push()</pre>
<pre class="line before"><span class="ws">                </span>response = self.full_dispatch_request()</pre>
<pre class="line before"><span class="ws">            </span>except Exception as e:</pre>
<pre class="line before"><span class="ws">                </span>error = e</pre>
<pre class="line current"><span class="ws">                </span>response = self.handle_exception(e)</pre>
<pre class="line after"><span class="ws">            </span>except:  # noqa: B001</pre>
<pre class="line after"><span class="ws">                </span>error = sys.exc_info()[1]</pre>
<pre class="line after"><span class="ws">                </span>raise</pre>
<pre class="line after"><span class="ws">            </span>return response(environ, start_response)</pre>
<pre class="line after"><span class="ws">        </span>finally:</pre></div>
</div>

<li><div class="frame" id="frame-2431704376992">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">2070</em>,
      in <code class="function">wsgi_app</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">        </span>ctx = self.request_context(environ)</pre>
<pre class="line before"><span class="ws">        </span>error: t.Optional[BaseException] = None</pre>
<pre class="line before"><span class="ws">        </span>try:</pre>
<pre class="line before"><span class="ws">            </span>try:</pre>
<pre class="line before"><span class="ws">                </span>ctx.push()</pre>
<pre class="line current"><span class="ws">                </span>response = self.full_dispatch_request()</pre>
<pre class="line after"><span class="ws">            </span>except Exception as e:</pre>
<pre class="line after"><span class="ws">                </span>error = e</pre>
<pre class="line after"><span class="ws">                </span>response = self.handle_exception(e)</pre>
<pre class="line after"><span class="ws">            </span>except:  # noqa: B001</pre>
<pre class="line after"><span class="ws">                </span>error = sys.exc_info()[1]</pre></div>
</div>

<li><div class="frame" id="frame-2431704377568">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">1515</em>,
      in <code class="function">full_dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>request_started.send(self)</pre>
<pre class="line before"><span class="ws">            </span>rv = self.preprocess_request()</pre>
<pre class="line before"><span class="ws">            </span>if rv is None:</pre>
<pre class="line before"><span class="ws">                </span>rv = self.dispatch_request()</pre>
<pre class="line before"><span class="ws">        </span>except Exception as e:</pre>
<pre class="line current"><span class="ws">            </span>rv = self.handle_user_exception(e)</pre>
<pre class="line after"><span class="ws">        </span>return self.finalize_request(rv)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def finalize_request(</pre>
<pre class="line after"><span class="ws">        </span>self,</pre>
<pre class="line after"><span class="ws">        </span>rv: t.Union[ResponseReturnValue, HTTPException],</pre></div>
</div>

<li><div class="frame" id="frame-2431704376272">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">1513</em>,
      in <code class="function">full_dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">        </span>self.try_trigger_before_first_request_functions()</pre>
<pre class="line before"><span class="ws">        </span>try:</pre>
<pre class="line before"><span class="ws">            </span>request_started.send(self)</pre>
<pre class="line before"><span class="ws">            </span>rv = self.preprocess_request()</pre>
<pre class="line before"><span class="ws">            </span>if rv is None:</pre>
<pre class="line current"><span class="ws">                </span>rv = self.dispatch_request()</pre>
<pre class="line after"><span class="ws">        </span>except Exception as e:</pre>
<pre class="line after"><span class="ws">            </span>rv = self.handle_user_exception(e)</pre>
<pre class="line after"><span class="ws">        </span>return self.finalize_request(rv)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def finalize_request(</pre></div>
</div>

<li><div class="frame" id="frame-2431704379248">
  <h4>File <cite class="filename">"C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py"</cite>,
      line <em class="line">1499</em>,
      in <code class="function">dispatch_request</code></h4>
  <div class="source library"><pre class="line before"><span class="ws">            </span>getattr(rule, &quot;provide_automatic_options&quot;, False)</pre>
<pre class="line before"><span class="ws">            </span>and req.method == &quot;OPTIONS&quot;</pre>
<pre class="line before"><span class="ws">        </span>):</pre>
<pre class="line before"><span class="ws">            </span>return self.make_default_options_response()</pre>
<pre class="line before"><span class="ws">        </span># otherwise dispatch to the handler for that endpoint</pre>
<pre class="line current"><span class="ws">        </span>return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">    </span>def full_dispatch_request(self) -&gt; Response:</pre>
<pre class="line after"><span class="ws">        </span>&quot;&quot;&quot;Dispatches the request and on top of that performs request</pre>
<pre class="line after"><span class="ws">        </span>pre and postprocessing as well as HTTP exception catching and</pre>
<pre class="line after"><span class="ws">        </span>error handling.</pre></div>
</div>

<li><div class="frame" id="frame-2431692804832">
  <h4>File <cite class="filename">"C:\Users\zwc12\Documents\Documents\WashU\Freshman S2\CSE 330\Module 7\flask and vue\app.py"</cite>,
      line <em class="line">204</em>,
      in <code class="function">upload</code></h4>
  <div class="source "><pre class="line before"><span class="ws"></span># route for uploading profile picture</pre>
<pre class="line before"><span class="ws"></span>@app.route(&#x27;/upload-image&#x27;, methods=[&#x27;POST&#x27;, &#x27;GET&#x27;])</pre>
<pre class="line before"><span class="ws"></span>def upload():</pre>
<pre class="line before"><span class="ws">    </span>if request.method == &#x27;POST&#x27;:</pre>
<pre class="line before"><span class="ws">        </span># return the post data as json</pre>
<pre class="line current"><span class="ws">        </span>print(request.files.image)</pre>
<pre class="line after"><span class="ws">        </span># get multipart/form-data file</pre>
<pre class="line after"><span class="ws">        </span>file = request.files.image</pre>
<pre class="line after"><span class="ws"></span> </pre>
<pre class="line after"><span class="ws">        </span>return jsonify({&#x27;image&#x27;: file})</pre>
<pre class="line after"><span class="ws">    </span>return &#x27;No POST data&#x27;</pre></div>
</div>
</ul>
  <blockquote>AttributeError: &#x27;ImmutableMultiDict&#x27; object has no attribute &#x27;image&#x27;</blockquote>
</div>

<div class="plain">
    <p>
      This is the Copy/Paste friendly version of the traceback.
    </p>
    <textarea cols="50" rows="10" name="code" readonly>Traceback (most recent call last):
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 2088, in __call__
    return self.wsgi_app(environ, start_response)
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 2073, in wsgi_app
    response = self.handle_exception(e)
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 2070, in wsgi_app
    response = self.full_dispatch_request()
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 1515, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 1513, in full_dispatch_request
    rv = self.dispatch_request()
  File &quot;C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py&quot;, line 1499, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File &quot;C:\Users\zwc12\Documents\Documents\WashU\Freshman S2\CSE 330\Module 7\flask and vue\app.py&quot;, line 204, in upload
    print(request.files.image)
AttributeError: &#x27;ImmutableMultiDict&#x27; object has no attribute &#x27;image&#x27;</textarea>
</div>
<div class="explanation">
  The debugger caught an exception in your WSGI application.  You can now
  look at the traceback which led to the error.  <span class="nojavascript">
  If you enable JavaScript you can also use additional features such as code
  execution (if the evalex feature is enabled), automatic pasting of the
  exceptions and much more.</span>
</div>
      <div class="footer">
        Brought to you by <strong class="arthur">DON'T PANIC</strong>, your
        friendly Werkzeug powered traceback interpreter.
      </div>
    </div>

    <div class="pin-prompt">
      <div class="inner">
        <h3>Console Locked</h3>
        <p>
          The console is locked and needs to be unlocked by entering the PIN.
          You can find the PIN printed out on the standard output of your
          shell that runs the server.
        <form>
          <p>PIN:
            <input type=text name=pin size=14>
            <input type=submit name=btn value="Confirm Pin">
        </form>
      </div>
    </div>
  </body>
</html>

<!--

Traceback (most recent call last):
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 2088, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.handle_exception(e)
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 2070, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 1515, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 1513, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\zwc12\AppData\Local\Programs\Python\Python39\Lib\site-packages\flask\app.py", line 1499, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\zwc12\Documents\Documents\WashU\Freshman S2\CSE 330\Module 7\flask and vue\app.py", line 204, in upload
    print(request.files.image)
AttributeError: 'ImmutableMultiDict' object has no attribute 'image'

-->
